<table class="table">



  <tbody>
<%if @groups%>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.users.count + 1 %></td>

        <%if group.creator == current_user %><td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td><%end%>
      </tr>
    <% end %>
<%end%>
  </tbody>
</table>