

<div class="col-md-6">
	<div class="page-header">
		<h1>Editing group</h1>
	</div>

	<%= render 'form' %>

</div>

<div class="col-md-6">
	<div class="page-header">
		<h1>Add your groups to the best customer management tool to grace the interwebs</h1>
	</div>
	<%= link_to 'Show', @group %> |
	<%= link_to 'Back', groups_path %>
</div>



