
<div class="col-md-6">
	<div class="page-header">
		<h1>Edit Engagement</h1>
	</div>

<%= render 'form' %>

<%= link_to 'Show', @engagement %> |
<%= link_to 'Back', engagements_path %>

</div>

<div class="col-md-6">
	<div class="page-header">
		<h1>Get ready to join the best customer management tool to grace the interwebs</h1>
	</div>
</div>

