<div class="col-md-6">
	<div class="page-header">
		<h1>Create New Contact</h1>
	</div>

	<%= render 'form' %>

</div>

<div class="col-md-6">
	<div class="page-header">
		<h1>Add your contacts to the best customer management tool to grace the interwebs</h1>
	</div>
</div>

